.custom_button {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 12px;

  background: #000;
  color: #fff;

  border-radius: 7px;

  font-size: 14px;
}
